<h1>MAIF and Go, en savoir + avec votre expert</h1>


<h2>Le chargement</h2>

<p>Bonjour {{user.firstName}},</p>

<p>Votre indicateur MAIF and Go <b>CO²</b> est <grade size="small" discipline="CO2" /></p>

<p>Félicitations, vous obtenez presque la note maximale ! Afin de l’améliorer encore, avez-vous pensé à ce qui suit ?</p>

<p><b>Le chargement de votre véhicule</b> a une influence directe sur votre consommation de carburant et de fait, sur vos émissions de CO².</p>

<div class="images">
    <img class="medium" src="images/lessons/conseil_08_1.jpg" />
</div>

<h3>Astuces :</h3>
<p>
    <ul>
        <li><b>Répartissez</b> vos objets les plus lourds (valises ou autres) de façon centrée et le plus bas possible.</li>
        <li>Pensez à <b>démonter</b>, s’ils ne sont pas utiles ;</li>
        <li>Les barres ou coffre de toit ;</li>
        <li>Le porte-skis ou autre galerie.</li>
    </ul>
</p>

<p>A 120 km/h même à vide, des barres de toits ou une galerie augmentent la consommation d’environ 10%.</p>


<p>Retrouvez l’ensemble de vos messages dans votre espace personnel, rubrique <a ui-sref="dashboard.history" ng-click="closePopup()" ng-click="">Mes conseils personnalisés</a>.</p>