<div class="row first-row" ng-if="($state.current.name.indexOf('faq') < 0) && ($state.current.name.indexOf('info') < 0) && ($state.current.name.indexOf('profile') < 0)">

    CALENDAR

    <div class="car hidden-xs">
        <!--<select class="selectpicker" id="select_picker">-->

        <!--</select>-->
        <div id="no-datas-calendar"></div>
    </div>
    <div class="day">
        <br/><br/>
        <div class="input-group-addon sum">
            <span id="date-day"></span><br/>
            <span id="date-month"></span>
        </div>
        <div class="container-date" id="container-date">
            <input type='text' class="" id="datetimepicker6" value="10/01/2015"/>
        </div>
    </div>
</div>